body {
    zoom: 0.75;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 140vh;
    background-image: url('https://www.btselem.org/sites/default/files/styles/1200x440/public/2023-10/a_rimal_top.jpg?h=f0551bc4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,.content{
    text-align: center;
}

.block,.block2 {
    
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
}

.text,.button,.text2 {
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.note {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(0, 110, 255);
    text-align: left;
    margin-top: 10px;
}
#message {
    text-align: center;
    margin-top: 20px;
    color: red;
}
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.form-group label {
    width: 40%;
    text-align: left;
    font-size: 15px;
}

.form-group input {
    width: 60%;
}
.text2 {
    margin: 0%;
    height: 15px;

}
table {
    
}
.log-out-link {
    color: burlywood;
}
.jkey {
  font-weight: bold;
  color: white;
  margin-right: 12px;
  margin-bottom: 8px;
}
.jvalue {
  color: #34495e;
  background-color: #ecf0f1;
  padding: 2px 6px;
  border-radius: 4px;
}

span {
  display: inline-block;
}

br {
  margin-bottom: 8px;
}