<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Read, update, add, delete a suvey</h1>
    <label for="sign_in">You still signed in, click sign out to leave </label>
    <a href="/sign_out">Sign Out</a>
    <form action="/actions" method="post">
        <input type="Submit" name="add_survey" value="Add New Survey">
        <input type="Submit" name="show_survey" value="Show Old Surveys">
        <input type="Submit" name="update_survey" value="Update Old Surveys">
    </form>
</body>
</html>