<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="block">
        <h1>Surveying War Destruction</h1>
        <p class="content">This web application allows users to report and update information about buildings affected by war.</p>
        <p class="content">It helps document the extent of destruction to support future recovery and humanitarian efforts.</p><br><br>
        <h2>Add, read, update, and delete a survey.</h2>
        <form action="/actions" method="post">
            <input type="Submit" name="add_survey" value="Add New Survey" class="button">
            <input type="Submit" name="show_survey" value="Show or Delete Old Surveys" class="button">
            <input type="Submit" name="update_survey" value="Update Old Surveys" class="button"><br><br>
            <label for="sign_in" class="note">You are currently signed in. Click 'Sign out' to exit your account.</label>
            <a href="/sign_out"><strong class="log-out-link">Sign Out</strong></a>
        </form>
    </div>

</body>
</html>