<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new survey</h1>
    <label for="sign_in">You still signed in, click sign out to leave </label>
    <a href="/sign_out">Sign Out</a>
    <form action='/add_survey' method="post">
        $replace$
        <label for="submit">Click submit to add new survey</label><input type="submit" value="Submit">
    </form>  
    <p>$replace2$</p>
</body>
</html>