<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is a home page of the web app, make a brief about the project and what it offers</p>
    <p>Sign in, two textbox will appear to sign in</p>
    <form action="/" method="POST" id="sign_in">
        <input type="text" name="username" id="username" placeholder="enter username...">
        <input type="text" name="password" id="password" placeholder="enter password...">
        <input type="submit" value="Sign in" name="sign_in">
        <input type="submit" value="Sign up" name="sign_up">
    </form>
    <p id="message">$replace$</p>
    <script src="static/homepage.js"></script>
    
</body>
</html>